.imgsrc{
    position: relative;
    left:40px;
    top: 24px;
}
.textli{
    color:#333;
    font-size: 20px;
    font-weight: 600px;
    line-height: 24px;
    letter-spacing: 0.6px;
    padding-left: 70px;
}
.leftresdiv{
    width: 251px;
    height: 898px;
    background: #F3F4F6;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: 10px;
}

.leftresdiv::-webkit-scrollbar {
    width: 3px;
    height:338px; 
  }
  
  .leftresdiv::-webkit-scrollbar-thumb {
    background: #D63626; 
  }