.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 57px;
    padding-right: 89px;
    height: 80px;
}

.nav-container {
    display: flex;
    list-style-type: none;
}

.nav-container li:not(:last-child) {
    margin-right: 22px;
}

.header-right-container {
    display: flex;
    align-items: center;
}

.header-right-container :nth-child(1) {
    width: 304px;
    height: 45px;
    border-radius: 10px;
    padding-left: 20px;
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 31px;
}

.header-right-container :nth-child(2) {
    margin-right: 27px;
}

.header-right-container :nth-child(3) {
    background-color: #D63626;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 41px;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.48px;
    cursor: pointer;
}

.link-bg {
    color: #D63626 !important;
    font-weight: 700;
}

.home-link {
    transition: 0.5s all ease;
}

.home-link:hover {
    color: #D63626 !important;
}