.menu {
    color: #181617;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    margin: 50px;
}

.menu-para {
    color: #828282;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.66px;
    width: 80%;
}

.offer-card{
    display: flex;
    align-items: flex-start;
    width: 83%; 
    margin: auto;
    margin-bottom: 150px;
    
}

.offer-card:nth-child(even){
    margin: 170px;
    display: flex;
    flex-direction: row-reverse;
    
}

.menu-para:nth-child(even){
    margin: 50px;
}
.imagination{
    padding-top: 185px;
}