.home-client-bg {
    background: #F3F4F6;
    display: flex;
    align-items: center;
    height: 600px;
    padding: 0 56px 0 56px;
    justify-content: space-between;
}

.hamburger-bg {
    position: relative;
    width: 500px;
    height: 420px;
    background: #181617;
    border-radius: 80px;
}

.hamburger-image {
    position: absolute;
    bottom: 120px;
    right: 0px;
    width: 590px;
}

.hamburger-left {
    width: 55%
}

.hamburger-left :nth-child(1) {
    color: var(--mainBlack, #181617);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
}

.hamburger-left :nth-child(2) {
    width: 68%;
    color: #828282;
    font-family: "Roboto";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.66px;
    margin-bottom: 42px;
}

.hamburger-btn :nth-child(1) {
    background: #D63626;
    border-radius: 30px;
    width: 220px;
    height: 70px;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.hamburger-btn :nth-child(2) {
    width: 220px;
    height: 70px;
    border-radius: 30px;
    border: 2px solid #828282;
    background: #F2F2F2;
    margin-left: 39px;
}

.foody-card {
    background-color: #fff;
    position: absolute;
    top: 160px;
    right: 40px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    width: 278px;
    padding: 20px;
    animation: float 6s ease-in-out infinite;
}

.foody-card-text {
    color: #4F4F4F;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.48px;
    transform: translatey(0px);
}

.foody-card-2 {
    background-color: #fff;
    position: absolute;
    bottom: 200px;
    right: 420px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    width: 278px;
    padding: 20px;
    animation: float 6s ease-in-out infinite;
}

.foody-card-3 {
    background-color: #fff;
    position: absolute;
    bottom: 80px;
    right: 50px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    width: 278px;
    padding: 20px;
    animation: float 6s ease-in-out infinite;
}

.register-btn {
    transition: 0.5s all ease;
    cursor: pointer;
}

.register-btn:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.order-btn {
    transition: 0.5s all ease;
}

.order-btn:hover {
    background-color: #828282;
    border: none;
    color: #fff;
    font-weight: 700;
}

.order-btn:active {
    transform: scale(0.95);
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}